{{define "layouts/head"}}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/vendor/fonts.css">

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="apple-touch-icon" href="/static/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/static/assets/favicon-64.png">
    <script src="/static/vendor/htmx.min.js"></script>

    <meta name="csrf-token" content="{{ .CSRFToken }}">
    <script>
        document.addEventListener('htmx:configRequest', (e) => {
            e.detail.headers['X-CSRF-Token'] =
                document.querySelector('meta[name="csrf-token"]').content;
        });
    </script>
</head>
{{end}}
