* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* outline: 1px solid red; */
    color: white;
}

html {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, #94BBE9 100%);
    z-index: -2;
    min-block-size: 100dvh;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul {
    padding: unset;
    padding-inline: 10px;
    margin: unset;
}


li {
    list-style: none;
}

.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

body.flower-power::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url(assets/background-mobile.jpg);

    @media screen and (min-width: 500px) {
        background-image: url(assets/background.jpg);
    }

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transition: transform 0.8s ease-in-out;
}

/* Only animate on flower-power pages */
body.flower-power.slide-out::before {
    transform: translateY(100%);
}

main {
    flex: 1;
    inline-size: 95dvw;
    margin-inline: auto;
    block-size: 100%;
}

@media screen and (min-width: 500px) {
    main {
        inline-size: 80dvw;
    }
}

header {
    background: white;
    margin-block-end: 24px;
}

.header-items {
    justify-content: space-between;
    align-items: center;
    padding-inline: 5dvw;
    color: hotpink;
    display: flex;
}

h1 {
    margin-block: auto;
}

.header-items button,
.header-items h1 a {
    color: hotpink;
}

@media screen and (min-width: 500px) {
    header {
        margin-block-start: 12px;
        background: inherit;
        color: white;
    }

    .header-items button,
    .header-items h1 a {
        color: white;
    }

    .header-items button {
        display: none !important;
    }
}

.header-items button {
    font-size: 3rem;
    display: inline-block;
    z-index: 200;
    background: inherit;
    padding: 0;
}

.header-items a.active {
    background-position: 100% 100%;
    background-size: 100% 2px;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 1);
}


.margin-block-end-24px {
    margin-block-end: 24px;
}

.padding-inline-24px {
    padding-inline: 24px;
}

table {
    margin-block-end: 24px;
    border-collapse: collapse;
    width: 100%;
}

table a {
    display: block;
}

.table-h2 {
    margin-inline-start: 5%;
}

thead {
    border-block-end: solid rgba(255, 255, 255, 0.5) 2px;
}

th,
td {
    /* padding: 10px; */
    text-align: left;
    padding-block: 10px;
}

@media screen and (min-width: 500px) {
    th:hover {
        border-start-start-radius: 10px;
        border-start-end-radius: 10px;
        background: rgba(255, 255, 255, 0.2);
        overflow: hidden;
    }
}

td p,
td input {
    inline-size: 100%;
    display: block;
    margin-block: 0;
    padding-block: 4px;
}

td input {
    inline-size: 90%;
    background: rgba(255, 105, 180, 0.1);
    padding-block: 10px;
    border: none;
    outline: none;
}

tr {
    border-radius: 16px;
    overflow: hidden;
    border-block-end: solid rgba(255, 255, 255, 0.2) 1px;
}

tr.divider-top {
    border-block-start: solid rgba(255, 255, 255, 0.5) 2px;
}

tr.divider-top td {
    padding-inline-start: 0px;
}

.line-through {
    text-decoration: line-through;
}

@media screen and (min-width: 500px) {
    tbody tr:hover {
        background: rgba(255, 255, 255, 0.2);
    }
}

.checkbox {
    font-size: 3rem;
    display: inline-block;
    background: transparent;
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid white 1px;
    margin-inline: 5px;
    vertical-align: middle;
}

.checkbox.checked {
    background: white;
}

.fixed-center {
    position: fixed;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
}

.add-grocery-form {
    inline-size: 95dvw;

    @media screen and (min-width: 500px) {
        inline-size: auto;
    }

    padding-inline: 24px;
    padding-block-end: 24px;
}

.text-align-center {
    text-align: center;
}

.add-grocery-form button {
    margin-inline-end: auto;
    margin-block-start: 12px;
    width: 100%;
}

@media screen and (min-width: 500px) {
    .checkbox:hover {
        cursor: pointer;
    }
}

.grid-4 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.space-and-padding {
    justify-content: space-between;
    padding-inline: 10px;
}

.group {
    margin-inline: auto;
    margin-block-end: 10px;
    padding-block-end: 10px;
}

.recipe-card {
    flex-direction: column;
    padding: 10px;
}

.recipe-card h2 {
    margin: unset;
    margin-block-end: 10px;
}

.recipe-card img {
    display: block;
    border-radius: 5px;
    max-width: 150px;
}

.logout {
    border: solid 1px;
    padding-inline: 5px;
}

body {
    margin: unset;
    min-height: 100dvh;
}

.grid-2 {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
    margin-block-end: 10px;
}

.login-form {
    inline-size: 100%;
    margin-inline: auto;

    @media screen and (min-width: 500px) {
        inline-size: 60%;
    }
}

.add-grocery-form input,
.login-form input {
    display: block;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.2);
    outline: unset;
    border: unset;
    border-radius: 5px;
    inline-size: 100%;
    box-sizing: border-box;
}

.add-grocery-form input {
    border: white 2px solid;
    padding: 5px;
}

.login-form label {
    display: inline-block;
    margin-block: 5px;
}

.login-form input {
    padding: 10px
}

.login-button {
    display: block;
    margin-block-start: 24px;
    margin-inline: auto;
    padding-block: 10px;
    inline-size: 60%;
}


.filters {
    display: flex;
    margin-block-start: 10px;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
}

.filters input[type="radio"] {
    display: none;
}

.filters .filter:first-of-type {
    border-inline-end: 1px solid white;
}

.filters .filter:last-of-type {
    border-inline-start: 1px solid white;
}

.filters label {
    display: flex;
    align-items: center;
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    height: 100%;
}


.filters input[type="radio"]:checked+label {
    background: hotpink;
    color: white;
}

.button-styling {
    all: unset;
}

.button-styling,
button {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    border: unset;
    background: hotpink;
    border-radius: 5px;
    padding: 5px;
}

@media screen and (min-width: 500px) {
    .button-styling:hover,
    button:hover {
        cursor: pointer;
        scale: 1.01;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}

.chore-button {
    display: block;
    margin-inline: auto 10px;
    padding-inline: 50px;
}

.add {
    margin-inline-start: auto;
    margin-inline-end: 10%;
    margin-block: 20px;
    padding-inline: 30px;
}

.flex {
    display: flex;
}

.center-horizontal {
    justify-content: center;
}

.center-vertical {
    align-items: center;
}

h1 {
    /* margin-inline: 10%; */
    text-align: left;
}

.chore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    margin-block: 5px;
}

/* nav styling */
nav {
    display: none;
    margin-block: auto;
    position: fixed;
    inset: 0 0 0 20%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 100;
}

nav ul {
    padding: 0;
    margin-block-start: 50%;
}

nav ul li {
    font-size: 1.1rem;
    border-block-end: solid rgba(255, 255, 255, 0.2) 1px;
}

@media screen and (max-width: 500px) {
    .mobile-nav-chosen::after {
        content: "·";
        font-size: 4em;
        line-height: 0;
        margin-inline-start: 5px;
        color: hotpink;
        vertical-align: middle;
    }
}

nav ul li a {
    display: block;
    padding: 15px;
}

@media screen and (min-width: 500px) {
    header button {
        display: none;
    }

    nav {
        display: block;
        position: static;
        background: inherit;
    }

    nav ul {
        list-style: none;
        margin-block: auto;
        display: flex;
    }

    nav ul li {
        background-color: transparent;
        padding: 5px;
        font-size: 1.1rem;
        border: none;
    }

    nav ul li a {
        padding: 0;
        text-decoration: none;
        display: inline-block;
        padding-bottom: 2px;
        background-image: linear-gradient(hotpink 0 0);
        background-position: 0 100%;
        /*OR bottom left*/
        background-size: 0% 2px;
        background-repeat: no-repeat;
        transition:
            background-size 0.3s,
            background-position 0s 0.3s;
        /*change after the size immediately*/
    }

    nav a:hover {
        background-position: 100% 100%;
        /*OR bottom right*/
        background-size: 100% 2px;
    }
}

footer {
    color: black;
    background: white;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    border-block-end: 1px solid white;
    text-align: center;
    z-index: 1;
}

footer p {
    margin: 3px;
    color: black;
}

footer span {
    color: hotpink;
}

@media screen and (min-width: 500px) {
    footer {
        display: none;
    }
}
