{{define "groceries/edit_grocery"}}
<dialog class="glass card" id="edit-modal"  hx-on::after-request="if(event.detail.successful) { this.remove(); }">

    <form class="flex align-items" method="dialog" onsubmit="this.closest('dialog').remove()">
        <h2>Edit Grocery</h2>
        {{template "close_button" .}}
    </form>

    <!-- Edit Form -->
    <form hx-patch="/groceries/lists/{{.Grocery.ListID}}/items/{{.Grocery.ID}}" hx-target=".grocery-list" hx-swap="outerHTML"
        hx-include="#grocery-list-state, #grocery-list-filter" class="modal-form" id="edit-grocery-form">

        <h3>Edit grocery</h3>
        <small>Update the product, amount, and brand.</small>

        <label for="edit-name">Product <small>(required)</small></label>
        <input type="text" class="glass-inner focus" id="edit-name" name="name" value="{{.Grocery.Ingredient.Product.Name}}"
            required>

        <div class="field-row">
            <div>
                <label for="edit-amount">Amount</label>
                <input class="glass-inner" type="text" id="edit-amount" name="amount" value="{{.Grocery.Ingredient.Amount}}">
            </div>

            <div>
                <label for="edit-brand">Brand</label>
                <input class="glass-inner" type="text" id="edit-brand" name="brand"
                    value="{{.Grocery.Ingredient.Product.Brand}}">
            </div>
        </div>

        <label for="edit-category">Category</label>
        <select id="edit-category" name="category" class="glass-inner">
            {{range .Categories}}
            <option value="{{.}}" {{if eq . $.Grocery.Ingredient.Product.Category}}selected{{end}}>{{.}}</option>
            {{end}}
        </select>

        <button type="submit">
            <span>Save</span>
            {{template "spinner" .}}
        </button>
    </form>

    <!-- Move Form -->
    <form hx-patch="/groceries/lists/{{.Grocery.ListID}}/items/{{.Grocery.ID}}/move" hx-target=".grocery-list"
        hx-swap="outerHTML" hx-include="#grocery-list-state, #grocery-list-filter" class="modal-form{{if le (len .Lists) 1}} darken{{end}}"
        id="move-grocery-form">

        <h3>Move to another list</h3>
        <small>Move this grocery to a different list.</small>

        <select id="transfer-list-select" name="grocery-list-target-id" class="flex" {{if le (len .Lists)
            1}}disabled{{end}}>

            {{range .Lists}}
            {{if ne .GroceryList.ID $.Grocery.ListID}}
            <option value="{{.GroceryList.ID}}">
                {{.GroceryList.Name}}
            </option>
            {{end}}
            {{end}}
        </select>

        <button type="submit" {{if le (len .Lists) 1}}disabled{{end}}>
            <span>Transfer</span>
            {{template "spinner" .}}
        </button>
    </form>

    <!-- Delete Form -->
    <form hx-delete="/groceries/lists/{{.Grocery.ListID}}/items/{{.Grocery.ID}}" hx-target=".grocery-list" hx-swap="outerHTML"
        hx-include="#grocery-list-state, #grocery-list-filter" class="modal-form" id="delete-grocery-form">

        <h3>Delete this grocery</h3>

        <div>
            <small>This action cannot be undone.</small>

            <button class="delete-button" type="submit">
                <span>Delete</span>
                {{template "spinner" .}}
            </button>
        </div>
    </form>
</dialog>
{{end}}
