{{define "groceries/extract_review_page"}}
<main>
    {{if gt (len .Ingredients) 0}}
    <div class="margin-block-end-24px flex gap-6px">
        <button type="submit" form="extractedForm">Save</button>
        <a href="{{.CancelURL}}" hx-boost="true" class="button-styling">Cancel</a>
    </div>

    <form hx-post="/groceries/lists/{{.ListID}}/extracted" hx-target="main" hx-swap="outerHTML"
        id="extractedForm" class="glass container">
        <h2>Extracted From Recipe</h2>
        <input type="hidden" name="redirect-path" value="{{.RedirectPath}}">

        <div class="grocery-grid extracted-grocery-grid">
            <div class="grocery-row extracted-grocery-row grocery-header">
                <div>Product</div>
                <div>Amount</div>
                <div>Brand</div>
                <div></div>
            </div>

            {{range .Ingredients}}
            <div class="grocery-row extracted-grocery-row">
                <input type="text" class="glass-inner" name="name" value="{{.Product.Name}}">
                <input type="text" class="glass-inner" name="amount" value="{{.Amount}}">
                <input type="text" class="glass-inner" name="brand" value="{{.Product.Brand}}">
                <button type="button" class="removeRowBtn">×</button>
            </div>
            {{end}}
        </div>
    </form>
    {{else}}
    <div class="margin-block-end-24px flex gap-6px">
        <a href="{{.CancelURL}}" hx-boost="true" class="back-button button-styling">Back</a>
    </div>

    <section class="glass container empty-state">
        <h3>Nothing was extracted</h3>
        <p>We couldn't find any items to add. Try rephrasing your text or using a different recipe link.</p>
    </section>
    {{end}}
</main>
{{end}}
