{{define "groceries/row"}}
<div data-id="{{.ID}}" class="grocery-row changable">
    <form hx-patch="/groceries/lists/{{.ListID}}/items/{{.ID}}/picked" hx-target=".grocery-list"
        hx-swap="outerHTML" hx-include="#grocery-list-state">
        <button type="submit">
            <div class="checkbox {{if .Picked}}checked{{end}}"></div>
            {{template "spinner" .}}
        </button>
    </form>

    <span class="{{if .Picked}}line-through{{end}}" data-field="name" lang="sv">{{.Ingredient.Product.Name}}</span>
    <span class="{{if .Picked}}line-through{{end}}" data-field="amount">{{.Ingredient.Amount}}</span>
    <span class="{{if .Picked}}line-through{{end}}" data-field="brand" lang="sv">{{.Ingredient.Product.Brand}}</span>
    <button type="button" hx-get="/groceries/lists/{{.ListID}}/items/{{.ID}}/edit" hx-target="#modal-root"
        hx-swap="innerHTML" class="edit-btn">⋮</button>
</div>
{{end}}
