{{define "recipe-list"}}
<section class="grid-recipe" aria-labelledby="recipe-heading">
    <h2 id="recipe-heading" class="sr-only">Recipes</h2>
    {{range .RecipesView}}
    <article class="recipe-card glass" data-title="{{.Recipe.Title}}">
        <section class="front" aria-label="Front of recipe card">
            <div class="image-wrapper">
                <img src="{{.Recipe.ImgURL}}" alt="{{.Recipe.Title}}">
                <a href="{{.Recipe.Link}}" class="button-styling">↗</a>
            </div>
            <div class="title">
                <p>{{.Recipe.Title}}</p>
                <form hx-post="/recipes/extract" hx-target="main" hx-swap="outerHTML">
                    <input type="hidden" name="recipe_id" value="{{ .Recipe.Id }}">
                    <button type="submit">Add To Groceries</button>
                </form>
            </div>
        </section>
        <section aria-label="Back of recipe card" class="back" hidden>
            <ul>
                {{range .RecipeIngredients}}
                <li>{{.Ingredient.Product.Name}}</li>
                {{end}}
            </ul>
        </section>
    </article>
    {{end}}
</section>
{{end}}
