{{define "grocery_row"}}
<tr data-id="{{.Id}}" class="changable">
    <td>
        <form hx-post="/groceries" hx-target=".grocery-list" hx-swap="outerHTML" hx-include="#grocery-filter-controls">
            <input type="hidden" name="id" value="{{.Id}}">
            <button class="checkbox {{if .Picked}}checked{{end}}" type="submit">
                <img class="htmx-indicator" src="/static/assets/spinner.gif" alt="Loading...">
            </button>
        </form>
    </td>

    <td data-field="name">
        <span>{{.Ingredient.Product.Name}}</span>
    </td>

    <td data-field="amount">
        <span>{{.Ingredient.Amount}}</span>
    </td>

    <td data-field="brand">
        <span>{{.Ingredient.Product.Brand}}</span>
    </td>

    <td data-field="store">
        <span>{{.Ingredient.Product.Store}}</span>
    </td>

    <td class="edit-column">
        <button type="button" class="edit-btn">⋮</button>
    </td>
</tr>
{{end}}
