{{define "grocery_list"}}
<section class='glass container glass-strong grocery-list'>
    <div class='flex space-between'>
        <h2>Shopping ({{.Total}})</h2>
        <div class="grocery-filter" id="grocery-filter-controls">
            <input type="hidden" name="sort" value="{{.Sort}}">
            <input type="hidden" name="order" value="{{.Order}}">

            <select hx-get="/groceries/list" hx-target=".grocery-list" hx-swap="outerHTML"
                hx-include="#grocery-filter-controls" hx-indicator="#grocery-filter-spinner" name="filter"
                class="glass-inner">
                <option value="all" {{if eq .Filter "all" }}selected{{end}}>All</option>
                <option value="dairy" {{if eq .Filter "dairy" }}selected{{end}}>Dairy</option>
                <option value="fruitandvegetables" {{if eq .Filter "fruitandvegetables" }}selected{{end}}>Fruit &
                    Vegetables</option>
                <option value="meatandfish" {{if eq .Filter "meatandfish" }}selected{{end}}>Meat & Fish</option>
                <option value="pantry" {{if eq .Filter "pantry" }}selected{{end}}>Pantry</option>
                <option value="other" {{if eq .Filter "other" }}selected{{end}}>Other</option>
            </select>
            <!-- <img id="grocery-filter-spinner" class="htmx-indicator" src="/static/assets/spinner.gif" alt="Loading..."> -->
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    <a href="/groceries?filter={{.Filter}}&sort=product&order={{.NextOrder}}">Product</a>
                </th>

                <th>
                    <a href="/groceries?filter={{.Filter}}&sort=amount&order={{.NextOrder}}">Amount</a>
                </th>

                <th>
                    <a href="/groceries?filter={{.Filter}}&sort=brand&order={{.NextOrder}}">Brand</a>
                </th>
                <th>
                    <a href="/groceries?filter={{.Filter}}&sort=store&order={{.NextOrder}}">Store</a>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody data-filter-section="dairy">
            {{if gt (len .Data.Dairy) 0}}
            {{if eq .Filter "all"}}
            <tr class="divider-top">
                <td colspan="5">
                    <strong class="dairy">Dairy ({{len .Data.Dairy}})</strong>
                </td>
                <td></td>
            </tr>
            {{end}}
            {{range .Data.Dairy}}
            {{template "grocery_row" .}}
            {{end}}
            {{end}}
        </tbody>

        <tbody data-filter-section="fruitandvegetables">
            {{if gt (len .Data.FruitAndVegetables) 0}}
            {{if eq .Filter "all"}}
            <tr class="divider-top">
                <td colspan="5">
                    <strong class="fruit">Fruit & Vegetables ({{len .Data.FruitAndVegetables}})</strong>
                </td>
                <td></td>
            </tr>
            {{end}}
            {{range .Data.FruitAndVegetables}}
            {{template "grocery_row" .}}
            {{end}}
            {{end}}
        </tbody>

        <tbody data-filter-section="meatandfish">
            {{if gt (len .Data.MeatAndFish) 0}}
            {{if eq .Filter "all"}}
            <tr class="divider-top">
                <td colspan="5">
                    <strong class="meat">Meat & Fish ({{len .Data.MeatAndFish}})</strong>
                </td>
                <td></td>
            </tr>
            {{end}}
            {{range .Data.MeatAndFish}}
            {{template "grocery_row" .}}
            {{end}}
            {{end}}
        </tbody>

        <tbody data-filter-section="pantry">
            {{if gt (len .Data.Pantry) 0}}
            {{if eq .Filter "all"}}
            <tr class="divider-top">
                <td colspan="5">
                    <strong class="pantry">Pantry ({{len .Data.Pantry}})</strong>
                </td>
                <td></td>
            </tr>
            {{end}}
            {{range .Data.Pantry}}
            {{template "grocery_row" .}}
            {{end}}
            {{end}}
        </tbody>

        <tbody data-filter-section="other">
            {{if gt (len .Data.Other) 0}}
            {{if eq .Filter "all"}}
            <tr class="divider-top">
                <td colspan="5">
                    <strong class="other">Other ({{len .Data.Other}})</strong>
                </td>
                <td></td>
            </tr>
            {{end}}
            {{range .Data.Other}}
            {{template "grocery_row" .}}
            {{end}}
            {{end}}
        </tbody>

        <tbody>
            {{if gt (len .Data.Picked) 0}}
            <tr class="divider-top">
                <td colspan="5">
                    <strong class="picked">Picked ({{len .Data.Picked}})</strong>
                </td>
                <td></td>
            </tr>
            {{range .Data.Picked}}
            {{template "grocery_row" .}}
            {{end}}
            {{end}}
        </tbody>
    </table>
    {{if gt (len .Data.Picked) 0}}
    <button hx-post="/groceries/delete/picked" hx-target=".grocery-list" hx-swap="outerHTML"
        hx-include="#grocery-filter-controls" class="block margin-inline-auto inline-size-full" type="submit" name="id"
        value="{{.Id}}">
        <img class="htmx-indicator" src="/static/assets/spinner.gif" alt="Loading...">
        Done
    </button>
    {{end}}
</section>
{{end}}
