<!DOCTYPE html>
<html lang="en">

{{template "layouts/head" .}}

<body>
    <div class="background">
        {{template "layouts/header" .}}
        {{template "notifications/bootstrap" .}}
        {{template "groceries/list_page" .}}

        <script type="module" src="/static/script.js"></script>
        <script>
            document.body.addEventListener("htmx:afterSwap", (event) => {
                if (event.detail.target.id !== "modal-root") return;

                const dialog = event.detail.target.querySelector("dialog");
                if (!dialog) return;

                dialog.showModal();
            });
        </script>
    </div>
</body>

</html>
