<!DOCTYPE html>
<html lang="en">

{{template "layouts/head" .}}

<body>
    <div class="background">
        {{template "layouts/header" .}}
        <main>
            <div class="flex flex-wrap gap-6px margin-block-end-24px">
                <button type="button"
                    onclick="document.getElementById('add-recipe-dialog').showModal()">Add Recipe</button>
                <button class="search-toggler">Search</button>
            </div>

            <section class="glass container search-section hidden">
                <h2>Search</h2>
                <label for="fuzzy-search">Find title</label>
                <input type="text" id="fuzzy-search" class="glass-inner focus" placeholder="Type keywords...">

                <label for="fuzzy-match">Match with ingredients</label>
                <input type="text" id="fuzzy-match" class="glass-inner" placeholder="Type ingredients...">
            </section>

            <dialog class="glass card add-dialog" id="add-recipe-dialog">
                <form class="flex align-items" method="dialog">
                    <h2>Add Recipe</h2>
                    {{template "close_button" .}}
                </form>

                <form class="add-form add-recipe-form" hx-post="/recipes/add" hx-swap="outerHTML"
                    hx-target=".grid-recipe">
                    <input class="inline-size-full glass-inner focus margin-block-end-24px"
                        placeholder="Add link to recipe..." id="1" type="text" name="link" required autofocus>
                    <button class="inline-size-full margin-inline-auto block" type="submit">Add</button>
                </form>
            </dialog>

            {{template "recipe-list" .}}
        </main>
        <script type="module" src="/static/script.js"></script>
    </div>
</body>

</html>
