<!DOCTYPE html>
<html lang="en">

{{template "layouts/head" .}}


<body>
    <div class="background">
        {{template "layouts/header" .}}
        <main>
            <fieldset class="margin-block-end-24px">
                <legend class="sr-only">Action buttons</legend>
                <button type="button"
                    onclick="document.getElementById('add-recipe-dialog').showModal()">Add Recipe</button>
            </fieldset>

            <dialog class="glass card add-dialog" id="add-recipe-dialog">
                <form class="flex align-items" method="dialog">
                    <h2>Add Recipe</h2>
                    {{template "close_button" .}}
                </form>

                <form class="add-form add-recipe-form" method="post" action="/recipes/add">
                    <input class="inline-size-full glass-inner focus margin-block-end-24px"
                        placeholder="Add link to recipe..." id="1" type="text" name="link" required>
                    <button class="inline-size-full margin-inline-auto block" type="submit">Add</button>
                </form>
            </dialog>

            <div class="grid-recipe">
                {{range .Data}}
                <div class="glass recipe-card">
                    <div class="image-wrapper">
                        <img src="{{.Img_url}}" alt="{{.Title}}">
                    </div>
                    <div class="title">
                        <p>{{.Title}}</p>
                        <a href="{{.Link}}" class="button-styling">Visit</a>
                    </div>
                </div>
                {{end}}
            </div>
        </main>
        <script type="module" src="/static/script.js"></script>
    </div>
</body>

</html>
