<!DOCTYPE html>
<html lang="en">
{{template "head" .}}

<body>
    <header class="flex center-vertically">
        <h1>Chores</h1>
        {{template "nav"}}
    </header>
    <main>
        <div class="group glass">
            <div class="space-and-padding flex">
                <h2>Recuring</h2>
                <span class="filters">
                    <span class="filter">
                        <input type="radio" id="filter1" name="filter" value="Today" checked />
                        <label for="filter1">Today</label>
                    </span>
                    <span class="filter">
                        <input type="radio" id="filter2" name="filter" value="Week" />
                        <label for="filter2">Week</label>
                    </span>
                    <span class="filter">
                        <input type="radio" id="filter3" name="filter" value="Month" />
                        <label for="filter3">Month</label>
                    </span>
                </span>
            </div>
            <ul>
                <li class="chore glass center-in-div">
                    <p><strong>Dammsuga</strong></p>
                    <span>
                        <button>Done</button>
                        <button>Edit</button>
                    </span>
                </li>
                <li class="chore glass">
                    <p><strong>Handla</strong></p>
                    <span>
                        <button>Done</button>
                        <button>Edit</button>
                    </span>
                </li>
                <li class="chore glass">
                    <p><strong>Vattna</strong></p>
                    <span>
                        <button>Done</button>
                        <button>Edit</button>
                    </span>
                </li>
            </ul>
            <button class="chore-button">Add</button>
        </div>

        <div class="group glass">
            <ul>

                <h2>Temporary</h2>
                <li class="chore glass">
                    <p><strong>Dammsuga</strong></p>
                    <span>
                        <button>Done</button>
                        <button>Archive</button>
                    </span>
                </li>
                <li class="chore glass">
                    <p><strong>Handla</strong></p>
                    <span>
                        <button>Done</button>
                        <button>Archive</button>
                    </span>
                </li>
                <li class="chore glass">
                    <p><strong>Vattna</strong></p>
                    <span>
                        <button>Done</button>
                        <button>Archive</button>
                    </span>
                </li>
            </ul>
            <button class="chore-button">Add</button>
        </div>
    </main>
    <script src="/static/script.js"></script>
</body>

</html>
