<!DOCTYPE html>
<html lang="en">

{{template "head" .}}

<body>
    <div class="background">
        {{template "header" .}}
        <main>
            <fieldset class="margin-block-end-24px">
                <legend class="sr-only">Action buttons</legend>
                <button class="add-toggler">Add Grocery</button>
                <button class="smart-add-toggler">Smart Add</button>
                <button id="extract-button">Extract</button>
                <button id="edit-button">Edit</button>
            </fieldset>

            <form class="glass add-form add-grocery-form hidden" method="POST" action="/groceries/add">
                <h2>Add Grocery</h2>
                <p class="margin-block-end-12px"><strong>Quick Select</strong></p>
                <div class="quick-select margin-block-end-24px">
                    {{range .TopProducts}}
                    <button type="button" class="quick-btn">{{.}}</button>
                    {{end}}
                </div>
                <ul class="margin-block-end-24px">
                    <li>
                        <label for="product-input">Product <small>(required)</small></label>
                        <input class="glass-inner focus" id="product-input" type="text" name="product" required>
                    </li>
                    <li>
                        <label for="3">Amount</label>
                        <input class="glass-inner" id="3" type="text" name="amount">
                    </li>
                    <li>
                        <label for="2">Brand</label>
                        <input class="glass-inner" id="2" type="text" name="brand">
                    </li>
                    <li>
                        <label for="4">Store</label>
                        <input class="glass-inner" id="4" type="text" name="store">
                    </li>
                </ul>
                <button class="inline-size-full margin-inline-auto block" type="submit">Add</button>
            </form>

            <form class="smart-add-form glass hidden" method="post" action="/groceries/smartadd">
                <h2><label for="smart-add">Smart Add</label></h2>

                <textarea id="smart-add" class="glass-inner margin-block-end-24px"
                    placeholder='Add groceries... (try: "10 bananas, 5L milk from willys"' name="groceries"
                    required></textarea>
                <button class="inline-size-full margin-inline-auto block" type="submit">Add</button>
            </form>

            <form class="glass extract-grocery-form hidden" method="POST" action="/groceries/extract">
                <h2>Extract Ingredients From Recipe</h2>
                <input class="inline-size-full glass-inner focus margin-block-end-24px"
                    placeholder="Add link to recipe..." id="1" type="text" name="link" required>
                <button class="inline-size-full margin-inline-auto block" type="submit">Add</button>
            </form>


            <!-- table start -->
            <section class='glass glass-strong grocery-list'>
                <h2>Shopping ({{ len .Data.NotPicked }})</h2>
                <table>
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                                <a href="/groceries?sort=product&order={{.NextOrder}}">Product{{if eq .Sort "product"}}{{if eq .Order "asc"}}↑{{else}}↓{{end}} {{end}}</a>
                            </th>

                            <th>
                                <a href="/groceries?sort=amount&order={{.NextOrder}}">Amount{{if eq .Sort "amount"}}{{if eq .Order "asc"}}↑{{else}}↓{{end}} {{end}}</a>
                            </th>

                            <th>
                                <a href="/groceries?sort=brand&order={{.NextOrder}}">Brand{{if eq .Sort "brand"}}{{if eq .Order "asc"}}↑{{else}}↓{{end}} {{end}}</a>
                            </th>
                            <th>
                                <a href="/groceries?sort=store&order={{.NextOrder}}">Store{{if eq .Sort "store"}}{{if eq .Order "asc"}}↑{{else}}↓{{end}} {{end}}</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{if gt (len .Data.NotPicked) 0}}
                        {{range .Data.NotPicked}}
                        <tr data-id="{{.Id}}" class="changable">
                            <td>
                                <form method="POST" action="/groceries">
                                    <button class="checkbox" type="submit" name="id" value="{{.Id}}"></button>
                                </form>
                            </td>
                            <td data-field="product">
                                <p>{{.Product}}</p>
                            </td>
                            <td data-field="amount">
                                <p>{{.Amount}}</p>
                            </td>
                            <td data-field="brand">
                                <p>{{.Brand}}</p>
                            </td>
                            <td data-field="store">
                                <p>{{.Store}}</p>
                            </td>
                        </tr>
                        {{end}}
                        {{end}}

                        <!-- Picked section starts -->
                        {{if gt (len .Data.Picked) 0}}
                        <tr class="divider-top">
                            <td colspan="4">
                                <strong>Picked ({{len .Data.Picked}})</strong>
                            </td>
                            <td>
                            </td>

                        </tr>
                        {{range .Data.Picked}}
                        <tr>
                            <td>
                                <form method="POST" action="/groceries">
                                    <button class="checkbox checked" type="submit" name="id" value="{{.Id}}"></button>
                                </form>
                            </td>
                            <td class="line-through">{{.Product}}</td>
                            <td class="line-through">{{.Amount}}</td>
                            <td class="line-through">{{.Brand}}</td>
                            <td class="line-through">{{.Store}}</td>
                        </tr>
                        {{end}}
                        {{end}}
                    </tbody>
                </table>
                <form action="/groceries/delete/picked" method="POST">
                    <button class="block margin-inline-auto inline-size-full" type="submit">Done</button>
                </form>
            </section>
        </main>
        <script src="/static/script.js"></script>
        <script>
            var notMobile = window.matchMedia("(min-width: 500px)")

            document.getElementById('extract-button').addEventListener("click", () => {
                document.querySelector(".extract-grocery-form").classList.toggle("hidden");
                focusables.forEach(e => {
                    e.focus();
                });
            });

            document.querySelectorAll(".quick-btn").forEach(btn => {
                btn.addEventListener("click", () => {
                    document.getElementById("product-input").value = btn.textContent;
                });
            });

            const edit_btn = document.getElementById('edit-button');
            let editing = false;

            edit_btn.addEventListener("click", () => {
                const changables = document.querySelectorAll(".changable");

                if (!editing) {
                    // ENTER EDIT MODE
                    changables.forEach(row => {
                        row.querySelectorAll('td[data-field]').forEach(cell => {
                            const input = document.createElement('input');
                            input.name = cell.dataset.field;
                            input.value = cell.innerText;
                            input.classList.add("glass-inner")
                            cell.innerHTML = '';
                            cell.appendChild(input);
                        });
                    });

                    edit_btn.textContent = "Save";
                    editing = true;

                } else {
                    // SAVE MODE
                    const changes = [];

                    changables.forEach(row => {
                        const data = {id: parseInt(row.dataset.id)};
                        row.querySelectorAll('input').forEach(input => {
                            data[input.name] = input.value;
                        });
                        changes.push(data);
                    });

                    // Send JSON to backend
                    fetch('/groceries/edit', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(changes)
                    })
                        .then(res => {
                            if (res.ok) {
                                window.location.href = "/groceries"; // manual redirect
                            }
                        })
                        .catch(console.error);
                }
            });
        </script>
    </div>
</body>

</html>
