<main>
    <div class="margin-block-end-24px flex gap-6px">
        <button type="submit" form="extractedForm">Save</button>
        <form action={{.CancelURL}} method="GET">
            <button type="submit">Cancel</button>
        </form>
    </div>
    <form action="/groceries/extracted" id="extractedForm" method="POST" class='glass container glass-strong'>
        <h2>Extracted from recipe ({{ len .Ingredients }} items)</h2>
        <input type="hidden" name="redirect_path" value={{.RedirectPath}}>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Product
                    </th>

                    <th>
                        Amount
                    </th>

                    <th>
                        Brand
                    </th>
                    <th>
                        Store
                    </th>
                </tr>
            </thead>
            <tbody>
                {{if gt (len .Ingredients) 0}}
                {{range .Ingredients}}
                <tr>
                    <td><button class="removeRowBtn">×</button></td>
                    <td><input class="glass-inner" name="name" value="{{.Product.Name}}"></td>
                    <td><input class="glass-inner" name="amount" value="{{.Amount}}"></td>
                    <td><input class="glass-inner" name="brand" value="{{.Product.Brand}}"></td>
                    <td><input class="glass-inner" name="store" value="{{.Product.Store}}"></td>
                </tr>
                {{end}}
                {{end}}
            </tbody>
        </table>
    </form>
</main>
