<!DOCTYPE html>
<html lang="en">

{{template "head" .}}

<body>
    <div class="background">
        {{template "header" .}}
        <main>
            <fieldset class="margin-block-end-24px">
                <legend class="sr-only">Action buttons</legend>
                <button class="add-toggler">Add Grocery</button>
                <button class="smart-add-toggler">Smart Add</button>
                <button id="extract-button">Extract</button>
                <button id="edit-button">Edit</button>
            </fieldset>

            <form class="glass container add-form add-grocery-form hidden" hx-post="/groceries/add"
                hx-target=".grocery-list" hx-swap="outerHTML" hx-include="#grocery-filter-controls"
                hx-on::after-request="if(event.detail.successful) {this.reset(); syncDueDateControls(); initTodoFilters();}">

                <h2>Add Grocery</h2>
                <p class="margin-block-end-12px"><strong>Quick Select</strong></p>
                <div class="quick-select margin-block-end-24px">
                    {{range .TopProducts}}
                    <button type="button" class="quick-btn">{{.}}</button>
                    {{end}}
                </div>
                <ul class="margin-block-end-24px">
                    <li>
                        <label for="product-input">Product <small>(required)</small></label>
                        <input class="glass-inner focus" id="product-input" type="text" name="name" required>
                    </li>
                    <li>
                        <label for="3">Amount</label>
                        <input class="glass-inner" id="3" type="text" name="amount">
                    </li>
                    <li>
                        <label for="2">Brand</label>
                        <input class="glass-inner" id="2" type="text" name="brand">
                    </li>
                    <li>
                        <label for="4">Store</label>
                        <input class="glass-inner" id="4" type="text" name="store">
                    </li>
                </ul>
                <button class="inline-size-full margin-inline-auto block" type="submit">
                    <span>Add</span>
                    <img class="htmx-indicator" src="/static/assets/spinner.gif" alt="Loading...">
                </button>
            </form>

            <form class="smart-add-form glass container hidden" hx-post="/groceries/smartadd" hx-target="main"
                hx-swap="outerHTML">
                <h2><label for="smart-add">Smart Add</label></h2>

                <textarea id="smart-add" class="glass-inner margin-block-end-24px"
                    placeholder='Add groceries... (try: "10 bananas, 5L milk from willys"' name="text"
                    required></textarea>
                <button class="inline-size-full margin-inline-auto block" type="submit">
                    <span>Add</span>
                    <img class="htmx-indicator" src="/static/assets/spinner.gif" alt="Loading...">
                </button>
            </form>

            <form class="extract-grocery-form glass container hidden" hx-post="/groceries/extract" hx-target="main"
                hx-swap="outerHTML">
                <h2>Extract Ingredients From Recipe</h2>
                <input class="inline-size-full glass-inner focus margin-block-end-24px"
                    placeholder="Add link to recipe..." type="text" name="link" required>
                <button class="inline-size-full margin-inline-auto block" type="submit">
                    <span>Add</span>
                    <img class="htmx-indicator" src="/static/assets/spinner.gif" alt="Loading...">
                </button>
            </form>

            {{template "grocery_list" .}}
        </main>
        <script type="module" src="/static/script.js"></script>
        <script>
            const edit_btn = document.getElementById('edit-button');
            let editing = false;

            edit_btn.addEventListener("click", () => {
                const changables = document.querySelectorAll(".changable");

                if (!editing) {
                    // ENTER EDIT MODE
                    changables.forEach(row => {
                        row.querySelectorAll('td[data-field]').forEach(cell => {
                            const input = document.createElement('input');
                            input.name = cell.dataset.field;
                            input.value = cell.innerText;
                            input.classList.add("glass-inner")
                            cell.innerHTML = '';
                            cell.appendChild(input);
                        });
                    });

                    edit_btn.textContent = "Save";
                    editing = true;

                } else {
                    const changes = [];

                    changables.forEach(row => {
                        const data = {
                            id: parseInt(row.dataset.id, 10),
                            product: {},
                        };

                        row.querySelectorAll('input').forEach(input => {
                            if (input.name === "name") {
                                data.product.name = input.value;
                            } else if (input.name === "brand") {
                                data.product.brand = input.value;
                            } else if (input.name === "store") {
                                data.product.store = input.value;
                            } else {
                                data[input.name] = input.value;
                            }
                        });

                        changes.push(data);
                    });

                    fetch('/groceries/edit', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(changes)
                    }).then(res => {
                        if (!res.ok) {
                            throw new Error("Failed to save groceries");
                        }
                        window.location.href = "/groceries";
                    }).catch(console.error);
                }
            });
        </script>
    </div>
</body>

</html>
