{{define "head"}}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="apple-touch-icon" href="/static/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/static/assets/favicon-64.png">
    <!-- <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)"> -->
    <!-- <meta name="theme-color" content="#0F172A" media="(prefers-color-scheme: dark)"> -->
</head>
{{end}}
