<!DOCTYPE html>
<html lang="en">

{{template "head" .}}

<body>
    {{template "header" .}}
    <main>
        <h2>coool grid</h2>
        <div class="glass padding-inline-24px margin-block-end-24px">
            <h2>Your ai friend</h2>
            <label>Text</label>
            <input placeholder="e.g. Jag " type="search">
            <button>groceries</button>
            <button>chores</button>
        </div>
  
        <div class="glass padding-inline-24px margin-block-end-24px">
            <p>random recipe</p>
        </div>
        <div class="glass padding-inline-24px margin-block-end-24px">
            <p>amount of groceries to be bought redirect???</p>
            <p>amount of todos</p>
        </div>
        <div class="glass padding-inline-24px margin-block-end-24px">
            <p>quick add grocery just product</p>
            <p>quick add recipe from link</q>
        </div>

        <p>Add dejt page</p>
    </main>
    {{template "footer" .}}
    <script src="/static/script.js"></script>
</body>

</html>
