<!DOCTYPE html>
<html lang="en">
{{template "head" .}}

<body class="flower-power">
    {{template "header" .}}
    <main>
        <div class="login-form">
            <form method="POST" action="/login">
                <label for="uname">Username</label>
                <input type="text" id="uname" name="uname" required>

                <label for="pwd">Password</label>
                <input type="password" id="pwd" name="pwd" required>

                <button class="login-button" type="submit">Login</button>
            </form>
        </div>
    </main>
    {{template "footer" .}}
    <script src="/static/script.js"></script>
    <script>
        document.querySelectorAll(".header-items").forEach(container => {
            container.querySelectorAll(":scope > *").forEach(child => {
                if (child.tagName !== "H1") {
                    child.remove();
                }
            });
        });
    </script>
</body>

</html>
