<!DOCTYPE html>
<html lang="en">

{{template "head" .}}

<body class="flower-power">
    <main class="flex center-horizontal center-vertical full-viewport">
        <div class="loginform glass">
            <h1>Household planner</h1>
            <form method="POST" action="/login">
                <label for="uname">Username:</label>
                <input type="text" id="uname" name="uname" required>

                <label for="pwd">Password:</label>
                <input type="password" id="pwd" name="pwd" required>

                <button class="login-button" type="submit">Login</button>
            </form>
        </div>
    </main>
    <script src="/static/script.js"></script>
</body>

</html>
