<!DOCTYPE html>
<html lang="en">

{{template "head" .}}

<body>
    <header class="flex">
        <h1>Recipes</h1>
        {{template "nav"}}
    </header>

    <main class="grid-4">
        <div class="glass recipe-card flex center-horizontal center-vertical">
            <h2>Spaghetti bolognese</h2>
            <img
                src="https://assets.icanet.se/e_sharpen:80,q_auto,dpr_1.25,w_718,h_718,c_lfill/hchsnpxo3gkm8zyzxp5j.jpg">
            <p>Estimated time: mindre än 30 min.</p>

            <button>Ingredients</button>
        </div>
        <div class="glass recipe-card flex center-horizontal center-vertical">
            <h2>Spaghetti bolognese</h2>
            <img
                src="https://assets.icanet.se/e_sharpen:80,q_auto,dpr_1.25,w_718,h_718,c_lfill/hchsnpxo3gkm8zyzxp5j.jpg">
            <!-- <p>En italiensk, och svensk, klassiker med smak av vitlök, oregano och sälta från soja. Serveras med spaghetti al dente och toppas med rucola.</p> -->
            <p>Estimated time: mindre än 30 min.</p>

            <button>Ingredients</button>
        </div>
        <div class="glass recipe-card flex center-horizontal center-vertical">
            <h2>Spaghetti bolognese</h2>
            <img
                src="https://assets.icanet.se/e_sharpen:80,q_auto,dpr_1.25,w_718,h_718,c_lfill/hchsnpxo3gkm8zyzxp5j.jpg">
            <!-- <p>En italiensk, och svensk, klassiker med smak av vitlök, oregano och sälta från soja. Serveras med spaghetti al dente och toppas med rucola.</p> -->
            <p>Estimated time: mindre än 30 min.</p>

            <button>Ingredients</button>
        </div>
        <div class="glass recipe-card flex center-horizontal center-vertical">
            <h2>Spaghetti bolognese</h2>
            <img
                src="https://assets.icanet.se/e_sharpen:80,q_auto,dpr_1.25,w_718,h_718,c_lfill/hchsnpxo3gkm8zyzxp5j.jpg">
            <!-- <p>En italiensk, och svensk, klassiker med smak av vitlök, oregano och sälta från soja. Serveras med spaghetti al dente och toppas med rucola.</p> -->
            <p>Estimated time: mindre än 30 min.</p>

            <button>Ingredients</button>
        </div>
        <div class="glass recipe-card flex center-horizontal center-vertical">
            <h2>Spaghetti bolognese</h2>
            <img
                src="https://assets.icanet.se/e_sharpen:80,q_auto,dpr_1.25,w_718,h_718,c_lfill/hchsnpxo3gkm8zyzxp5j.jpg">
            <!-- <p>En italiensk, och svensk, klassiker med smak av vitlök, oregano och sälta från soja. Serveras med spaghetti al dente och toppas med rucola.</p> -->
            <p>Estimated time: mindre än 30 min.</p>

            <button>Ingredients</button>
        </div>
    </main>
    <script src="/static/script.js"></script>
</body>

</html>
