<!DOCTYPE html>
<html lang="en">

{{template "head" .}}

<body>
    <div class="background">
        {{template "header" .}}
        <main>
            <div class="margin-block-end-24px">
                <button class="add-toggler">Add Recipe</button>
                <button class="search-toggler">Search</button>
            </div>

            <section class="glass container search-section hidden">
                <h2>Search</h2>
                <label for="fuzzy-search">Find title</label>
                <input type="text" id="fuzzy-search" class="glass-inner focus" placeholder="Type keywords...">

                <label for="fuzzy-match">Match with ingredients</label>
                <input type="text" id="fuzzy-match" class="glass-inner" placeholder="Type ingredients...">
            </section>

            <form class="glass container add-form add-recipe-form hidden" 
                hx-post="/recipes/add"
                hx-swap="outerHTML"
                hx-target=".recipe-list">
                <h2>Add Recipe</h2>
                <input class="inline-size-full glass-inner focus margin-block-end-24px"
                    placeholder="Add link to recipe..." id="1" type="text" name="link" required>
                <button class="inline-size-full margin-inline-auto block" type="submit">Add</button>
            </form>

            {{template "recipe-list" .}}
        </main>
        {{template "footer" .}}
        <script type="module" src="/static/script.js"></script>
    </div>
</body>

</html>
