{{define "todos/todo"}}
<li class="todo">
    <div>
        <strong>{{.Task}}</strong>
        <small>{{ .DueLabel }}</small>
    </div>
    <div class="todo-actions flex gap-6px">
        <form hx-post="/todos/done" hx-swap="outerHTML" hx-target=".todo-list">
            <button type="submit" name="id" value="{{.Id}}">Done</button>
            <small>{{ .RepeatLabel }}</small>
        </form>
        <form hx-post="/todos/delete" hx-swap="outerHTML" hx-target=".todo-list"
            hx-confirm="Delete this task?">
            <button type="submit" name="id" value="{{.Id}}" class="delete-button">Delete</button>
        </form>
    </div>
</li>
{{end}}
