<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <ul>
                <li><a href="./chores.html">Chores</a></li>
                <li><a href="./grocceries.html">Grocceries</a></li>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="./recipes.html">Recipes</a></li>
                <li><a href="./reoccuringChores.html">ReoccuringChores</a></li>
                <li><a href="./tmpChores.html">TmpChores</a></li>
            </ul>
        </header>
        <h1>Household planner 101</h1>
        <p>The way to make life easier, hopefully...</p>
        <main>
            <h2>What is possible to do</h2>
            <ul>
                <li>Set chores that shall be repeated in x time</li>
                <li>Set chore that only exist for one time</li>
                <li>Add recipes, set grade and appoint time for it</li>
            </ul>
        </main>
        <footer>
            
        </footer>
    </body>
</html>
