<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./recipes.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <div class='recipe-card'>
        <div class="favorite">
          <input type="checkbox" id="fav">
          <label for="fav" class="star">★</label>
          <button type='button' onclick="alert('Hello world!')" class='calendar'>🗓️</button>
        </div>
        <h2>hej</h2>
        <img src="https://assets.icanet.se/e_sharpen:80,q_auto,dpr_1.25,w_718,h_718,c_lfill/hchsnpxo3gkm8zyzxp5j.jpg">
      </div>
    </main>
    <script src="index.js"></script>
  </body>
</html>
