<!DOCTYPE html>
<html>

<head>
    <link href="./reoccuringChores.css" rel="stylesheet">
    <script src="./script.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <!-- <ul> -->
        <!-- <li><a href="./chores.html">Chores</a></li> -->
        <!-- <li><a href="./grocceries.html">Grocceries</a></li> -->
        <!-- <li><a href="./index.html">Home</a></li> -->
        <!-- <li><a href="./login.html">Login</a></li> -->
        <!-- <li><a href="./recipes.html">Recipes</a></li> -->
        <!-- <li><a href="./reoccuringChores.html">ReoccuringChores</a></li> -->
        <!-- <li><a href="./tmpChores.html">TmpChores</a></li> -->
        <!-- </ul> -->
    </header>
    <h1>Reoccuring chores</h1>
    <main>
        <!-- tänker att grid items är små fyrkanter. när man klickar på cooldown varianten -->
        <!--  så kommer än klocka som tickar ner istället för details -->
        <!-- <section aria-label="Chores to be done"> -->
        <!--     <div class="4col-grid"> -->
        <!--         <div class="grid-item"> -->
        <!--             <h2>title</h2> -->
        <!--             <p>more details. should be able to click on card to see this info. Might be small -->
        <!--                 in title mode and expand out and take much more screen when clicked</p> -->
        <!--             <p> -->
        <!--                 shall be a sub list with checkboxes to hold status -->
        <!--             </p> -->
        <!--         </div> -->
        <!--     </div> -->
        <!-- </section> -->
        <!---->
        <!-- <section aria-label='Chores on cooldown'> -->
        <!--     <div class="4col-grid"> -->
        <!---->
        <!--     </div> -->
        <!-- </section> -->


        <div class="chore-grid">
            <div class="chore-card">
                <h2>Chore1</h2>
                <div class="chore-details">
                    <p>Here we write a little bit about the chore</p>
                    <ul>
                        <li>step 1</li>
                        <li>step 2</li>
                        <li>step 3</li>
                        <li>step 4</li>
                        <li>step 5</li>
                    </ul>
                </div>
            </div>

            <div class="chore-card">
                <h2>Chore2</h2>
                <div class="chore-details">
                    <time>7 days and 3 hours</time>
                </div>
            </div>
        </div>
        <div class="chore-modal" id="choreModal">
            <div class="chore-modal-content">
                <button class="close-btn">&times;</button>
                <div id="modalContent"> </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>
